body {
    background-color: rgb(255, 211, 146);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    z-index: -10;
}

.main-header {
    padding: 5px;
}

.login-container {
    padding: 40px;
    margin-top: 20vh;
    background-color: #fff;
    min-height: max-content;
    max-height: 70vh;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn-custom {
    margin-top: 20px;
    width: 60%;
    justify-content: center;
    background-color: rgb(143, 202, 255);
    box-shadow: 3px;
    border-radius: 4px;
}

.btn-custom:hover {
    background-color: rgb(143, 202, 255);
}

.btn-center {
    text-align: center;
}

.forgot-pw {
    text-align: right;
}




@media (max-width: 768px) {
    .login-container {
        width: 95vh;
        padding: 25px;
        margin-top: 15vh;

    }

    .btn-custom {
        width: 100%;
        justify-content: center;
        background-color: rgb(143, 202, 255);
        box-shadow: 3px;
        border-radius: 4px;
        margin-top: 20px;
    }
}



@media (max-width: 576px) {
    .login-container {
        width: 93%;
        height: max-content;
        padding: 25px;
        border-radius: 6px;
        box-shadow: none;
        margin-top: 21vh;
    }

    .login-container input {
        font-size: 0.9rem;
    }

    .btn-custom {
        font-size: 0.9rem;
    }

    .btn-custom {
        width: 90%;
        justify-content: center;
        background-color: rgb(143, 202, 255);
        box-shadow: 3px;
        border-radius: 4px;
        margin-top: 20px;
    }
}

@media (min-width: 800px) {
    .login-container {
        min-width:50vh;
        padding: 70px 40px 40px 40px;
        margin-top: 20vh;
        height: 50vh;
    }

}
